doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Kanamond
		link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel="stylesheet")
		style.
			.glyphs-container {
				width: 100%;
			}
			.glyph-container {
				width: 100px;
				height: 120px;
				float: left;
			}
			.glyph-img {
				width: 100px;
				height: 100px;
			}
			.glyph-label {
				width: 100px;
				height: 20px;
				text-align: center;
			}
	body
		div.container
			h1 Kanamond Typeset glyph test page
			each glyphs, type in glyphset
				h2= type
				div.glyphs-container
					each glyph in glyphs
						div.glyph-container
							img.glyph-img(src=type + '/' + glyph + '.svg')
							div.glyph-label= glyph
