doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Kanamond glyph typeset test page
		link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel="stylesheet")
		style.
			h2 {
				clear: both;
			}
			.glyphs-container {
				width: 100%;
			}
			.glyph-container {
				width: 100px;
				height: 120px;
				float: left;
			}
			.glyph-img {
				width: 100px;
				height: 100px;
			}
			.glyph-label {
				width: 100px;
				height: 20px;
				text-align: center;
			}
	body
		div.container
			h1 Kanamond glyph typeset test page
			each glyphs, type in glyphset
				h2= type
				div.glyphs-container
					each glyph in glyphs
						- var char = String.fromCharCode(glyph);
						- var glyphname = 'u' + ('000' + glyph.toString(16)).slice(-4);
						- var imgpath = type + '/' + glyphname + '.svg';
						a.glyph-container(href=imgpath)
							img.glyph-img(src=imgpath)
							div.glyph-label= glyphname + '(' + char + ')'
